.main-timeline{
    overflow: hidden;
    position: relative;
}
.main-timeline .timeline{
    position: relative;
    margin-top: -23px;
}
.main-timeline .timeline:first-child{ margin-top: 0; }
.main-timeline .timeline:before,
.main-timeline .timeline:after{
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.main-timeline .timeline:before{
    content: "";
    width: 100%;
    height: 100%;
    box-shadow: -8px 0 5px -5px rgba(0, 0, 0, 0.5) inset;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.main-timeline .year{
    display: block;
    width: 110px;
    height: 110px;
    line-height: 110px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    margin: auto;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: rotate(-45deg);
}

.main-timeline .title{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin: 0 0 10px 0;
}
.main-timeline .description{
    font-size: 16px;
    color: #fff;
    line-height: 24px;
    margin: 0;
}


.main-timeline .timeline:nth-child(2n):before{ box-shadow: 8px 0 5px -5px rgba(0, 0, 0, 0.5) inset; }
.main-timeline .timeline:nth-child(2n) .timeline-icon{ transform: rotate(-135deg); }
.main-timeline .timeline:nth-child(2n) .year{ transform: rotate(135deg); }
.main-timeline .timeline:nth-child(2n) .timeline-content{ float: left; }
.main-timeline .timeline:nth-child(2n) .timeline-content:before{
    left: auto;
    right: -20%;
}



@media only screen and (max-width: 1199px){
    .main-timeline .timeline{ margin-top: -23px; }
    .main-timeline .timeline-content:before{ left: -18%; }
    .main-timeline .timeline:nth-child(2n) .timeline-content:before{ right: -18%; }
}
@media only screen and (max-width: 990px){
    .main-timeline .timeline{ margin-top: -23px; }
    .main-timeline .timeline-content:before{ left: -2%; }
    .main-timeline .timeline:nth-child(2n) .timeline-content:before{ right: -2%; }
}
@media only screen and (max-width: 767px){
    .main-timeline .timeline{
        margin-top: 0;
        overflow: hidden;
    }
    .main-timeline .timeline:before,
    .main-timeline .timeline:nth-child(2n):before{
        box-shadow: none;
    }
    .main-timeline .timeline-icon,
    .main-timeline .timeline:nth-child(2n) .timeline-icon{
        margin-top: -30px;
        margin-bottom: 20px;
        position: relative;
        transform: rotate(135deg);
    }
    .main-timeline .year,
    .main-timeline .timeline:nth-child(2n) .year{ transform: rotate(-135deg); }
    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(2n) .timeline-content{
        width: 100%;
        float: none;
        border-radius: 0 0 20px 20px;
        text-align: center;
        padding: 25px 20px;
        margin: 0 auto;
    }
    .main-timeline .timeline-content:before,
    .main-timeline .timeline:nth-child(2n) .timeline-content:before{
        width: 15px;
        height: 25px;
        position: absolute;
        top: -22px;
        left: 50%;
        z-index: -1;
        transform: translate(-50%,0);
    }
}


.golden{
    width: 35%;
    float: right;
    padding: 30px 20px;
    margin: 50px 0;
    z-index: 1;
    position: relative;
    background: #ffc107;
    
}

.golden:before{
    content: "";
    width: 20%;
    height: 15px;
    background: #ffc107;
    position: absolute;
    top: 50%;
    left: -20%;
    z-index: -1;
    transform: translateY(-50%);
}

.silver{
    width: 35%;
    float: right;
    padding: 30px 20px;
    margin: 50px 0;
    z-index: 1;
    position: relative;
    background: #b1b1b1;
}

.silver:before{
    content: "";
    width: 20%;
    height: 15px;
    background:  #b1b1b1;
    position: absolute;
    top: 50%;
    left: -20%;
    z-index: -1;
    transform: translateY(-50%);

}
.bronze{
    width: 35%;
    float: right;
    padding: 30px 20px;
    margin: 50px 0;
    z-index: 1;
    position: relative;
    background: #CD7F32;
}

.bronze:before{
    content: "";
    width: 20%;
    height: 15px;
    background: #CD7F32;
    position: absolute;
    top: 50%;
    left: -20%;
    z-index: -1;
    transform: translateY(-50%);

}


.goldeni{
    width: 210px;
    height: 210px;
    border-radius: 50%;
    border: 25px solid transparent;
    border-top-color:  #ffc107;
    border-right-color: #ffc107;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    transform: rotate(45deg);

}
.silveri{
    width: 210px;
    height: 210px;
    border-radius: 50%;
    border: 25px solid transparent;
    border-top-color: #b1b1b1;
    border-right-color: #b1b1b1;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    transform: rotate(45deg);


}

.bronzei{
    width: 210px;
    height: 210px;
    border-radius: 50%;
    border: 25px solid transparent;
    border-top-color: #CD7F32;
    border-right-color: #CD7F32;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    transform: rotate(45deg);


}

.goldenii{
    color:  #ffc107;
}
.silverii{
    color: #b1b1b1;
}
.bronzeii{
    color:  #CD7F32;
}
