<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Test</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

<!-- Main Stylesheet File -->
<link href="../static/styles.css" rel="stylesheet">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

<!-- Bootstrap CSS File -->
<link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<link rel="stylesheet" href=  
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">  
        
    <script src=  
"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">  
    </script>  
        
    <script src=  
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">  
    </script>  
        
    <script src=  
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">  
    </script> 

</head>

<body>
    
    <div class="row">
            <div class=col-md-8>
                    <div class="center">
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Question No.1</h5>
          <p class="card-text">What is the square root of 100?</p>
          <input type="radio" name="option1" value="9"> 9<br><br>
          <input type="radio" name="option2" value="10">10<br><br>
          <input type="radio" name="option3" value="7"> 7<br><br>
          <input type="radio" name="option4" value="11"> 11<br><br>
          <div class="save">
          <a href="#" class="btn btn-primary" style="position: absolute;right: 2px;bottom: 2px; ">Save</a>
          </div>
          
        </div>
      </div>
            </div>
        </div>
   

    <div class="col-md-4">
            <div class="card">
               
                <h1 style="text-align: center;">Questions</h1> 
                  
                <!-- <h4>Normal Circle Buttons</h4> 
                <button type="button" class="btn btn-primary btn-circle btn-sm">Blue</button> 
                <button type="button" class="btn btn-secondary btn-circle btn-sm">Gray</button> 
                <button type="button" class="btn btn-success btn-circle btn-sm">Green</button> 
                <button type="button" class="btn btn-danger btn-circle btn-sm">Red</button> 
                <button type="button" class="btn btn-warning btn-circle btn-sm">Yellow</button> 
                <button type="button" class="btn btn-light btn-circle btn-sm">White</button> 
                <button type="button" class="btn btn-dark btn-circle btn-sm">Black</button>  -->
              
                <!-- <h4>Large Circle Buttons</h4>  -->
                <div class="row" style="align-self: center;">
                  <div class="que-inline-block" >
                  <button type="button" class="btn btn-secondary btn-circle btn-xl">1</button> 
                  <button type="button" class="btn btn-secondary btn-circle btn-xl">2</button> 
                  <button type="button" class="btn btn-secondary btn-circle btn-xl">3</button>
                  </div>

                </div>
              </br>
                <div class="row" style="align-self: center;">
                    <div class="que-inline-block" >
                    <button type="button" class="btn btn-secondary btn-circle btn-xl">4</button> 
                    <button type="button" class="btn btn-secondary btn-circle btn-xl">5</button> 
                    <button type="button" class="btn btn-secondary btn-circle btn-xl">6</button>
                    </div>
  
                  </div>
                </br>
                  <div class="row" style="align-self: center;">
                      <div class="que-inline-block" >
                      <button type="button" class="btn btn-secondary btn-circle btn-xl">7</button> 
                      <button type="button" class="btn btn-secondary btn-circle btn-xl">8</button> 
                      <button type="button" class="btn btn-secondary btn-circle btn-xl">9</button>
                      </div>
    
                    </div>
                  </br>
                    <div class="row" style="align-self: center;">
                        <div class="que-inline-block" >
                        <button type="button" class="btn btn-secondary btn-circle btn-xl">10</button> 
                        <button type="button" class="btn btn-secondary btn-circle btn-xl">11</button> 
                        <button type="button" class="btn btn-secondary btn-circle btn-xl">12</button>
                        </div>
      
                      </div>
                    </br>

                      <div class="row" style="align-self: center;">
                          <div class="que-inline-block" >
                          <button type="button" class="btn btn-secondary btn-circle btn-xl">13</button> 
                          <button type="button" class="btn btn-secondary btn-circle btn-xl">14</button> 
                          <button type="button" class="btn btn-secondary btn-circle btn-xl">15</button>
                          </div>
        
                        </div>
                      </br>
                      <div class="row" style="align-self: center;">
                          <div class="que-inline-block" >
                              <a href="#" class="btn btn-primary">Save</a>
                              <a href="#" class="btn btn-primary">Submit Test</a>
                          </div>
        
                        </div>
                    
                
               
              
              <!-- <a href="#" class="btn btn-primary">9</a></br></br>
          <a href="#" class="btn btn-primary">8</a></br></br>
          <a href="#" class="btn btn-primary">10</a></br></br>
          <a href="#" class="btn btn-primary">11</a></br></br> -->
        <div class="card-body">


        </div>


        </div>
</div>








</body>
</html>