<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Test</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Main Stylesheet File -->
  <link href="../static/styles.css" rel="stylesheet">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700"
    rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
  </script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
  </script>

  <script>
    var answers=new Array(15);
    // Function which ensures correct question is selected
    function renderQuestion(x) {
      // alert(x);
      ques = document.getElementById("question-data");
      var row = {{ value| tojson }};
      // this data is sent in flask using render template, data is sent as comma separated all values
      // however, index 0 refers to values of all cols separated by comma, alert(row[x-1]);
      // So row[x-1][1], refers to the (x-1)th row and 1st indexed column
      ques.innerHTML = "<h5 class='card-title' id='question-num'>Question No. " + x + "</h5>";
      ques.innerHTML += "<p class='card-text' id='question-content'>" + row[x - 1][1] + "</p>";
      ques.innerHTML += "<input type='radio' name='option' value='1'>" + row[x - 1][4] + "<br><br>";
      ques.innerHTML += "<input type='radio' name='option' value='2'>" + row[x - 1][5] + "<br><br>";
      ques.innerHTML += "<input type='radio' name='option' value='3'>" + row[x - 1][6] + "<br><br>";
      ques.innerHTML += "<input type='radio' name='option' value='4'>" + row[x - 1][7] + "<br><br>";
    }

    //Function which stores answer for each question every time the answer is saved
    function storeAnswer(){
      var row = {{ value| tojson }};
      var qno=document.getElementById('question-num');
      //Question No. 12
      var qnum = parseInt(qno.innerText.substring(13)); //Substring "12" converted to 12
      //alert("Question No. rn is "+qnum);
      //alert(row);
      var ans= row[qnum-1][8].charCodeAt()-96; //a=1,b=2....
      //alert("Answer is "+ans);
      var ele = document.getElementsByName('option'); 
      for(i = 0; i < ele.length; i++) { 
        if(ele[i].checked){
          if(ele[i].value == ans){
            //alert("Correct Answer");
            answers[qnum-1]=1;
          }
          else{
            //alert("Wrong Answer");
            answers[qnum-1]=0;
          }
        } 
      }
    }

    //Function which checks the total number of correct answers at the end of the test
    function checkAnswers(){
      var count=0;
      var total=0;
      //alert("ans array is "+ answers);
      for(var i=0;i<answers.length;i++){
        if(answers[i] == 1){
          count++;
          total++;
        }
        else if(answers[i] == 0){
          total++;
        }  
      }
      alert("Congratulations, Test Complete!\nNumber of correct answers are "+count+"\nTotal number of questions "+total);
      clearInterval(timerFun);
      var tim=document.getElementById('test-timer');
      var a= (tim.innerText).split(':');
      //alert("a is "+ a);
      var seconds=(+a[0])*60*60 + (+a[1])*60 + (+a[2]);
    }

    function toTimeString(seconds){
      //alert("seconds is "+seconds);
      return (new Date(seconds * 1000)).toUTCString().match(/(\d\d:\d\d:\d\d)/)[0];
    }
    
    function timer(){
      var tim=document.getElementById('test-timer');
      var a= (tim.innerText).split(':');
      //alert("a is "+ a);
      var seconds=(+a[0])*60*60 + (+a[1])*60 + (+a[2]);

      var timerFun= setInterval(function(){
        seconds--;
        if(seconds>=0){
          tim.innerHTML=toTimeString(seconds);
        }
        if (seconds === 0) {
          alert('Time Over! Test Complete');
          clearInterval(timerFun);
        }
      },1000);
    }
    
  </script>
</head>

<body onload="timer()">
  <div>
    <h3 id="test-timer">00:02:00</h3>
  </div>
  <div class="row">
    <div class=col-md-8>
      <div class="center">
        <div class="card">
          <div class="card-body" id="question-data">
            <!-- <h5 class="card-title" id="question-num">Question No.1</h5>
              <p class="card-text" id="question-content">What is the square root of 100?</p>
              <input type="radio" name="option1" value="9"> 9<br><br>
              <input type="radio" name="option2" value="10">10<br><br>
              <input type="radio" name="option3" value="7"> 7<br><br>
              <input type="radio" name="option4" value="11"> 11<br><br> -->
            </div>
            <div class="save">
                <a href="#" class="btn btn-primary" style="position: absolute;right: 2px;bottom: 2px; " onclick="storeAnswer()">Save</a>
            </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body" style="align-self: center;">
          <h1 style="text-align: center;">Questions</h1>

          <!-- <h4>Normal Circle Buttons</h4> 
                <button type="button" class="btn btn-primary btn-circle btn-sm">Blue</button> 
                <button type="button" class="btn btn-secondary btn-circle btn-sm">Gray</button> 
                <button type="button" class="btn btn-success btn-circle btn-sm">Green</button> 
                <button type="button" class="btn btn-danger btn-circle btn-sm">Red</button> 
                <button type="button" class="btn btn-warning btn-circle btn-sm">Yellow</button> 
                <button type="button" class="btn btn-light btn-circle btn-sm">White</button> 
                <button type="button" class="btn btn-dark btn-circle btn-sm">Black</button>  -->

          <!-- <h4>Large Circle Buttons</h4>  -->
          <div class="row" style="align-self: center;">
            <div class="que-inline-block">
              <button type="button" class="btn btn-secondary btn-circle btn-xl" onclick="renderQuestion(1)">1</button>
              <button type="button" class="btn btn-secondary btn-circle btn-xl" onclick="renderQuestion(2)">2</button>
              <button type="button" class="btn btn-secondary btn-circle btn-xl" onclick="renderQuestion(3)">3</button>
            </div>
          </div>
          </br>

          <div class="row" style="align-self: center;">
            <div class="que-inline-block">
              <button type="button" class="btn btn-secondary btn-circle btn-xl" onclick="renderQuestion(4)">4</button>
              <button type="button" class="btn btn-secondary btn-circle btn-xl" onclick="renderQuestion(5)">5</button>
              <button type="button" class="btn btn-secondary btn-circle btn-xl" onclick="renderQuestion(6)">6</button>
            </div>
          </div>
          </br>

          <div class="row" style="align-self: center;">
            <div class="que-inline-block">
              <button type="button" class="btn btn-secondary btn-circle btn-xl" onclick="renderQuestion(7)">7</button>
              <button type="button" class="btn btn-secondary btn-circle btn-xl" onclick="renderQuestion(8)">8</button>
              <button type="button" class="btn btn-secondary btn-circle btn-xl" onclick="renderQuestion(9)">9</button>
            </div>
          </div>
          </br>

          <div class="row" style="align-self: center;">
            <div class="que-inline-block">
              <button type="button" class="btn btn-secondary btn-circle btn-xl" onclick="renderQuestion(10)">10</button>
              <button type="button" class="btn btn-secondary btn-circle btn-xl" onclick="renderQuestion(11)">11</button>
              <button type="button" class="btn btn-secondary btn-circle btn-xl" onclick="renderQuestion(12)">12</button>
            </div>
          </div>
          </br>

          <div class="row" style="align-self: center;">
            <div class="que-inline-block">
              <button type="button" class="btn btn-secondary btn-circle btn-xl" onclick="renderQuestion(13)">13</button>
              <button type="button" class="btn btn-secondary btn-circle btn-xl" onclick="renderQuestion(14)">14</button>
              <button type="button" class="btn btn-secondary btn-circle btn-xl" onclick="renderQuestion(15)">15</button>
            </div>
          </div>
          </br>

          <div class="row" style="align-self: center;">
            <div class="que-inline-block">
              <!-- <a href="#" class="btn btn-primary">Save</a> -->
              <a href="#" class="btn btn-primary" onclick="checkAnswers()">Submit Test</a>
            </div>
          </div>

          <!-- <a href="#" class="btn btn-primary">9</a></br></br>
          <a href="#" class="btn btn-primary">8</a></br></br>
          <a href="#" class="btn btn-primary">10</a></br></br>
          <a href="#" class="btn btn-primary">11</a></br></br> -->
        </div>
      </div>
    </div>

</body>
</html>